.button {
	text-transform: uppercase;
	background-color: $color-main;
	color: white;
	border: none;
	padding: 7px 12px;
	font-weight: 800;
	transition: $duration / 2 ease all;
	font-size: 1.4rem;
	text-decoration: none;
	display: inline-block;

	@include screen-sm() {
		font-size: 1.2rem;
	}
	
	&:hover,
	&:focus {
		background-color: #c60042;
		color: white;
	}

	&:active {
		background-color: darken($color-main, 20%);
		color: darken(white, 20%);
	}

	&_lg {
		padding: 10px 20px;
	}

	&_dark {
		background-color: $color-dark;

		&:hover,
		&:focus {
			background-color: $color-light;
		}

		&:active {
			background-color: $color-darker;
		}
	}
}