.colorless {
	padding: 0;

	@include screen-xxs() {
		display: flex;
	}

	&__img,
	&__text-img {
		background: no-repeat 50% 50%;
		background-size: cover;
		filter: grayscale(100%);
	}

	&__img,
	&__text {

		@include screen-xxs() {
			width: 50%;
		}
	}

	&__img {
		padding-bottom: 75%;

		@include screen-xxs() {
			padding-bottom: 0;
		}

		&_img_2 {
			background-image: url($path + 'img/colorless-2.jpg');
		}

		&_img_4 {
			background-image: url($path + 'img/colorless-4.jpg');
		}

		&_img_5 {
			background-image: url($path + 'img/colorless-5.jpg');
		}

		&_img_7 {
			background-image: url($path + 'img/colorless-7.jpg');
		}
	}

	&__text {
		display: block;
		position: relative;
		text-transform: uppercase;
		color: white;
		text-decoration: none;
		padding: 1.1em 1.5em 1.5em;

		@include screen-lg() {
			padding: 2em 2.5em 2.5em;
		}

		&:hover {

			.colorless {

				&__text-img {

					&::before {
						background-color: rgba(0, 0, 0, .5);
					}
				}
			}
		}
	}

	&__text-img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		&::before {
			@extend %fog;
			background-color: rgba(0, 0, 0, .7);
			transition: $duration ease;
		}

		&_img_1 {
			background-image: url($path + 'img/colorless-1.jpg');
		}

		&_img_3 {
			background-image: url($path + 'img/colorless-3.jpg');
		}

		&_img_6 {
			background-image: url($path + 'img/colorless-6.jpg');
		}

		&_img_8 {
			background-image: url($path + 'img/colorless-8.jpg');
		}
	}

	&__i {
		position: relative;
	}

	&__title {
		color: white;
		font-size: 3.1rem;
		font-weight: 800;
		margin: 0;
	}

	&__subtitle {
		color: white;
		font-size: 1.7rem;
		font-weight: 600;
		margin: 0 0 .7em;
	}

	&__address {
		color: white;
		font-size: 1.8rem;
		text-transform: none;
		margin: 0 0 .7em;
		line-height: 1.2em;

		&::after {
			@extend %line_gray;
			margin-top: .7em;
		}
	}

	&__class {
		font-size: 1.7rem;
		color: $color-light;
		margin: 0;
	}

	&__letter {
		font-size: 5.9rem;
		font-weight: 800;
		color: $color-light;
		line-height: 1em;
		margin: 0 0 .3em;
	}

	&__more {
		font-size: 1.7rem;
		font-weight: 800;
		margin: 0;

		&::after {
			@extend %line_red;
			margin-top: .5em;
		}
	}
}