.cont {

	&__addr {
		font-size: 1.4rem;
		line-height: 1em;
		color: $color-gray;
		text-transform: uppercase;
		font-weight: 800;
		margin: 0;
	}

	&__phone {
		font-size: 3.1rem;
		line-height: 1.3em;
		color: $color-main;
		font-weight: 800;
		margin: 0;
		text-decoration: none;
	}
}