.cont {

	&__addr {
		font-size: 1.3rem;
		line-height: 1em;
		color: $color-gray;
		text-transform: uppercase;
		font-weight: 800;
		margin: 0;

		@include screen-sm() {
			font-size: 1.1rem;
		}
	}

	&__phone {
		font-size: 2.5rem;
		line-height: 1.3em;
		color: $color-main;
		font-weight: 800;
		margin: 0;
		text-decoration: none;
	}
}