.footer {
	flex: 0 0 auto;
	padding: 4em 0;
	background-color: $color-darker;

	@include screen-sm(max) {
		text-align: center;
	}

	&__flex {

		@include screen-sm() {
			display: flex;
		}
	}

	&__logo {
		margin-bottom: 2em;
	}

	&__menu {
		margin-bottom: 2em;
	}

	&__cont {
		margin: 2em 0 0;

		@include screen-sm(max) {
			margin-bottom: 2em;
		}
	}

	&__copyright {
		margin-top: 2.5em;
	}

	&__col {

		@include screen-sm(max) {
			width: 100%;
		}
	}

	&__col-half {

		@include screen-sm(max) {
			width: 60%;
			margin: 0 auto;
			float: none;
		}

		@include screen-xxs(max) {
			width: 100%;
		}
	}

	&__social {
		display: flex;
		justify-content: space-around;

		@include screen-xxs() {
			display: block;
		}

		@include screen-sm() {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;
			height: 100%;
		}

		.soc {
			margin-right: 0;

			@include screen-xxs() {
				margin-right: 15px;
			}

			@include screen-sm() {
				margin-right: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}