.form-col {

	&__descr {
		text-transform: uppercase;
		font-size: 1.6rem;
		color: $color-dark;
		font-weight: 600;
		margin: 2em 0;
	}

	&__select {
		width: 100%;

		@include screen-xs() {
			width: 20em;
		}

		+ .ui-selectmenu-button {
			display: block;
			margin: 2em 0;
			width: 100%;

			@include screen-xs() {
				width: 20em;
			}
		}
	}

	&__btn {
		margin-top: 3em;
	}
}