.h3 {
	font-size: 2.4rem;
	font-weight: 800;
	text-transform: uppercase;
	position: relative;
	margin: 0;
	color: $color-dark;

	&::after {
		@extend %line_red;
		margin-top: 1em;
	}

	&_space_bot {
		margin-bottom: 2em;
	}

	&_line_none {

		&::after {
			display: none;
		}
	}

	&_bright {
		color: white;
	}
}