.half {
	position: relative;
	overflow: hidden;

	@include screen-sm() {
		display: flex;
	}

	&__wrap {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		pointer-events: none;
		margin-top: 3em;

		@include screen-sm(max) {
			width: 100%;
		}
	}

	&__side {
		width: 100%;
		padding: 6em 15%;
		background: 50% 50% no-repeat;
		background-size: cover;
		position: relative;
		color: $color-dark;
		text-transform: uppercase;

		@include screen-sm() {
			width: 50%;
			padding: 6em 9%;
		}

		&_gray {
			background-color: $color-dark;
			color: white;

			.half {
				// =====

				&__h2 {
					color: white;
				}

				&__h3 {
					color: white;

					&::after {
						background-color: white;
					}
				}

				&__descr {
					color: white;

					&::after {
						background-color: white;
					}
				}
			}
		}

		&_light {
			background-color: $color-lighter;
		}

		&_red {
			background-color: $color-main;
			color: white;
		}

		&_line {

			@include screen-sm(max) {
				border-bottom: 5px solid $color-dark;
			}
		}

		&_pad_zero {
			padding: 0;

			@include screen-sm() {
				padding: 0;
			}
		}

		&_img_1 {
			padding-bottom: 100%;
			background-image: url($path + 'img/section-half-1.jpg');

			@include screen-xs() {
				padding-bottom: 40%;
			}

			&::before {
				@extend %fog;
			}
		}
	}

	&__h3 {
		margin-bottom: 2em;

		&_line_none {
			margin-bottom: .5em;

			&::after {
				display: none;
			}
		}
	}

	&__descr {
		display: block;
		text-decoration: none;
		color: $color-dark;
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 1.5em;

		&_half {

			@include screen-xxs() {
				width: 49%;
				display: inline-block;
				vertical-align: top;
			}

			&:nth-child(even) {

				@include screen-xxs(max) {
					margin-bottom: 0;
				}
			}
		}

		&_line {
			margin-bottom: 3em;

			&::after {
				@extend %line_red;
				margin-top: 1.5em;
			}
		}

		&_red {
			color: $color-main;
		}

		&_high {
			line-height: 1.8;
		}
	}

	&__title {
		font-size: 2.8rem;
		font-weight: 800;
		line-height: 1.5em;
		margin: 1.5em 0;

		&::after {
			@extend %line;
			margin-top: 1em;
		}
	}

	&__author {
		font-size: 2.2rem;
		font-weight: 800;
		margin-bottom: 1em;
	}

	&__post {
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: .7em;
	}

	&__link {
		color: white;
	}

	&__map {
		padding-bottom: 150%;
		width: 100%;
		height: 100%;

		@include screen-xxs() {
			padding-bottom: 100%;
		}

		@include screen-xs() {
			padding-bottom: 75%;
		}

		@include screen-sm() {
			padding-bottom: 75%;
		}

		@include screen-md() {
			padding-bottom: 75%;
		}
	}

	&_narrow {

		@include screen-xs() {
			display: flex;
		}

		.half {
			//=====

			&__side {
				padding: 30px 15px;

				@include screen-xs() {
					width: 50%;
					padding: 30px;
				}

				@include screen-sm() {
					padding: 6em 9%;
				}

				@include screen-md() {
					padding: 6em 15%;
				}
			}
		}
	}
}