.header {
	height: $top-height * 1.8;
	padding: 1.5em 0;
	background-color: white;
	z-index: 10;

	@include screen-sm() {
		height: $top-height;
		position: fixed;
		width: 100%;
	}

	&__logo {
		max-width: 100px;
		display: block;
		margin: 0 auto 20px;

		@include screen-xs() {
			margin: 0 1em 0 0;
			max-width: 70%;
		}

		@include screen-sm(){
			max-width: 80%;
		}

		@include screen-md(){
			max-width: 90%;
		}

		@include screen-lg(){
			max-width: 100%;
		}
	}

	&__menu {
		display: none;

		@include screen-xs() {
			display: block;
		}
	}

	&__cont {
		text-align: center;

		@include screen-xs() {
			text-align: right;
			margin: 0 50px 0 1em;
		}

		@include screen-sm() {
			margin-right: 0;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		position: relative;

		@include screen-xs() {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__col {

		&_upper {

			@include screen-xs() {
				margin-top: -1em;
				font-size: 1.1rem;
			}
		}
	}

	&__lang {
		position: absolute;
		right: 0;
		font-size: 2rem;

		@include screen-xs() {
			font-size: 1.1rem;
		}

		@include screen-sm() {
			position: fixed;
			right: 15px;
		}

		@include screen-lg() {
			position: absolute;
			right: -50px;
		}
	}
}