.input {
	border: none;
	background-color: $color-gray;
	padding: 7px;
	color: $color-darker;
	font-weight: 600;
	transition: $duration / 2 ease all;
	font-size: 1.4rem;

	@include screen-sm() {
		font-size: 1.2rem;
	}

	&:hover {
		background-color: lighten($color-gray, 20%);
	}

	&:focus {
		background-color: $color-lighter;
	}

	&::-webkit-input-placeholder {
		color: $color-darker;
		text-transform: uppercase;
	}

	&::-moz-placeholder {
		color: $color-darker;
		text-transform: uppercase;
	}

	&:-moz-placeholder {
		color: $color-darker;
		text-transform: uppercase;
	}

	&:-ms-input-placeholder {
		color: $color-darker;
		text-transform: uppercase;
	}

	&_inverse {
		background-color: $color-lighter;
		color: $color-dark;

		&:hover {
			background-color: lighten($color-light, 20%);
		}

		&:focus {
			background-color: $color-light;
			color: white;

			&::-webkit-input-placeholder {
				color: white;
			}

			&::-moz-placeholder {
				color: white;
			}

			&:-moz-placeholder {
				color: white;
			}

			&:-ms-input-placeholder {
				color: white;
			}
		}

		&::-webkit-input-placeholder {
			color: $color-dark;
		}

		&::-moz-placeholder {
			color: $color-dark;
		}

		&:-moz-placeholder {
			color: $color-dark;
		}

		&:-ms-input-placeholder {
			color: $color-dark;
		}
	}

	&_light {
		background-color: white;
		color: $color-gray;

		&:hover {
			background-color: darken($color-lighter, 5%);
		}

		&:focus {
			background-color: darken($color-lighter, 10%);
			color: $color-dark;
		}

		&::-webkit-input-placeholder {
			color: $color-gray;
		}

		&::-moz-placeholder {
			color: $color-gray;
		}

		&:-moz-placeholder {
			color: $color-gray;
		}

		&:-ms-input-placeholder {
			color: $color-gray;
		}
	}
}