.lang {
	display: inline-block;
	font-size: 1.6rem;

	&__item {
		display: block;
		color: $color-gray;
		text-transform: uppercase;
		font-weight: 800;
		text-decoration: none;
		vertical-align: top;
		line-height: 1em;
		padding-bottom: 3px;
		font-size: 2rem;

		@include screen-xs() {
			font-size: 1.1rem;
		}

		&_active {
			color: $color-main;
		}
	}
}