.menu {
	padding: 0;
	margin: 0;
	line-height: 1em;
	text-align: center;

	&__item {
		list-style-type: none;
		display: inline-block;
		margin-right: 1em;

		@include screen-lg() {
			margin-right: 2.3em;
		}

		&:last-child {
			margin-right: 0;
		}

		&_active {

			.menu {

				&__link {
					color: $color-main;

					&_search,
					&_shortlist,
					&_compare {

						&::before {
							opacity: 0;
						}

						&::after {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&__link {
		display: inline-block;
		color: $color-gray;
		text-transform: uppercase;
		font-weight: 800;
		text-decoration: none;
		vertical-align: top;
		line-height: 1em;
		padding-top: 1em;
		padding-bottom: 1em;

		&_search {
			position: relative;
			padding-left: 25px;

			&::before,
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				width: 19px;
				height: 19px;
				left: 0;
				top: 50%;
				margin-top: -10px;
				transition: $duration ease;
			}

			&::before {
				@include bgi-retina($path + 'img/search');
				opacity: 1;
			}

			&::after {
				@include bgi-retina($path + 'img/search-hover');
				opacity: 0;
			}

			&:hover,
			&:focus {

				&::before {
					opacity: 0;
				}

				&::after {
					opacity: 1;
				}
			}
		}

		&_shortlist,
		&_compare {
			position: relative;

			&::before,
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				height: 22px;
				left: 0;
				top: 50%;
				margin-top: -11px;
				transition: $duration ease;
			}

			&:hover,
			&:focus {

				&::before {
					opacity: 0;
				}

				&::after {
					opacity: 1;
				}
			}
		}

		&_shortlist {
			margin-right: 23px;

			&::before {
				width: 23px;
				@include bgi-retina($path + 'img/shortlist');
				opacity: 1;
			}

			&::after {
				width: 23px;
				@include bgi-retina($path + 'img/shortlist-active');
				opacity: 0;
			}
		}

		&_compare {
			margin-right: 22px;

			&::before {
				width: 22px;
				@include bgi-retina($path + 'img/compare');
				opacity: 1;
			}

			&::after {
				width: 22px;
				@include bgi-retina($path + 'img/compare-active');
				opacity: 0;
			}
		}
	}

	&__count {
		position: absolute;
		bottom: 50%;
		right: -26px;
		width: 17px;
		height: 17px;
		border: 2px solid $color-main;
		border-radius: 50%;
		background-color: white;
		font-size: 9px;
		line-height: 1.6;
		z-index: 1;
		overflow: hidden;
	}
}