.plan {

	&__row {
		margin-bottom: 3em;
	}

	&__title {
		margin-bottom: .7em;

		&::after {
			display: none;
		}
	}

	&__img {
		width: 100%;
	}

	&__rect {
		display: inline-block;
		margin: 10px 30px 10px 0;

		&:last-child {
			margin-right: 0;
		}
	}
}