.section {

	&__flex {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		overflow: hidden;
	}

	&__flex-item {
		padding: 0 15px;
		width: 100%;
		margin-bottom: 3em;

		@include screen-xs() {
			width: 50%;
		}

		@include screen-sm() {
			width: 33.333333%;
		}

		@include screen-md() {
			width: 25%;
		}
	}

	&__row {
		margin-bottom: 2em;

		@include screen-xs(max) {
			width: 50%;
		}
	}

	&__center {
		text-align: center;
	}

	&__stat {
		margin-bottom: 2em;

		@include screen-xs(max) {
			width: 100%;
		}
	}

	&__simple-flex {

		@include screen-sm() {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&_space {
		margin: 5em 0 3em;
	}
}