.section {

	&__flex {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		overflow: hidden;
	}

	&__flex-item {
		padding: 0 15px;
		width: 100%;
		margin-bottom: 3em;

		@include screen-xs() {
			width: 50%;
		}

		@include screen-sm() {
			width: 33.333333%;
		}

		@include screen-md() {
			width: 25%;
		}
	}

	&__row {
		margin-bottom: 2em;

		@include screen-xs(max) {
			width: 50%;
		}
	}

	&__center {
		text-align: center;
	}

	&__stat {
		margin-bottom: 2em;

		@include screen-xs(max) {
			width: 100%;
		}
	}

	&__simple-flex {

		@include screen-sm() {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__simple-flex-xxs {

		@include screen-xs() {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__pad {

		@include screen-sm() {
			padding: 0 15px;
		}
	}

	&__space-top {
		margin-top: 3em;
	}

	&__xxs {

		@include screen-xxs(max) {
			width: 100%;
			float: none;
		}
	}

	&__descr {
		color: $color-main;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 1.3rem;
	}

	&__advant-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__advant {

		@include screen-xxs() {
			width: 25%;
		}

		@include screen-md() {
			width: 12.5%;
		}
	}

	&_space {
		margin: 5em 0 3em;
	}

	&_pad {
		padding: 4em 0 3em;
	}

	&_red {
		background-color: $color-main;
	}

	&_light {
		background-color: $color-lighter;
	}
}