.simple-list {
	display: table;
	text-align: left;
	text-decoration: none;
	color: $color-dark;

	&:hover,
	&:focus {
		color: $color-main;
	}

	&__num,
	&__descr {
		display: table-cell;
		vertical-align: middle;
		font-weight: 800;
	}

	&__num {
		color: $color-main;
		font-size: 6.5rem;
		padding-right: 15px;
		min-width: 1em;
		box-sizing: content-box;

		@include screen-sm() {
			font-size: 5rem;
		}
	}

	&__descr {
		font-size: 2.3rem;
		text-transform: uppercase;
		line-height: 1.3em;
		text-decoration: none;

		@include screen-sm() {
			font-size: 1.6rem;
		}
	}
}