.terms-1 {
	display:block;
	// justify-content: space-between; 
    max-width: 320px;
    margin-top: 22px;
    font-weight: 800;
    text-transform: uppercase;
	span {
		&:first-child {
			color:$color-dark;
			font-size: 1.6rem;
			margin-right: 18px;
		}
		&:last-child {
			color:$color-main;
			font-size: 1.6rem;
			// margin-left: 18px;
		}
	}
	&:last-of-type {
		span {
			&:last-child {
				display: block;
			}
		}
	}
}