.terms-2 {
    margin-top: 22px;
    font-weight: 800;
    text-transform: uppercase;
    span {
		&:first-child {
			color:$color-dark;
			font-size: 1.6rem;
			margin-right: 18px;
		}
		&:last-child {
			display: block;
			color:$color-main;
			font-size: 3.4rem;
			margin-top: 10px;
		}
	}
}