.toggle {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	position: relative;

	&:hover {

		.toggle {

			&__line {
				background-color: $color-main;
			}

			&__title {
				color: $color-main;
			}
		}
	}

	&__line {
		display: block;
		background-color: $color-gray;
		transition: transform $duration ease,
		background-color $duration ease,
		opacity $duration / 2 ease;
		height: 5px;
		margin-bottom: 5px;
		width: 32px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		position: absolute;
		left: 100%;
		top: 50%;
		margin: -23px 0 0 0;
		font-size: 15px;
		line-height: 3em;
		height: 46px;
		color: $color-gray;
		font-weight: 800;
		transition: $duration ease;
		text-transform: uppercase;
		padding: 0 10px;
		display: inline-block;
		opacity: 1;
		visibility: visible;
		user-select: none;

		&_hidden {
			opacity: 0;
			visibility: hidden;
		}
	}

	&_fixed {
		z-index: 20;
		top: .7em;
		left: .7em;
		position: absolute;

		@include screen-sm() {
			position: fixed;
		}
	}

	&_active {

		.toggle {

			&__line {

				&:first-child {
					transform: translateY(10px) rotate(-45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:last-child {
					transform: translateY(-10px) rotate(45deg);
				}
			}
		}
	}
}