.header {
	padding: 1.5em 0;
	background-color: white;
	z-index: 10;
	box-shadow: 0 0 5px $color-gray;

	@include screen-sm() {
		height: $top-height;
		position: fixed;
		width: 100%;
		transform: translate3d(0, 0, 0);
	}

	@include screen-xs(max) {
		min-height: 123px;
	}

	&__logo {
		max-width: 100px;
		display: block;
		margin: 0 auto 20px;

		@include screen-xs() {
			margin: 0 0 0 55px;
			max-width: 80px;
		}

		@include screen-sm(){
			margin: 0 1em 0 0;
			max-width: 85px;
		}

		@include screen-md(){
			max-width: 105px;
		}

		@include screen-lg(){
			max-width: 123px;
		}
	}

	&__menu {
		display: none;

		@include screen-xs() {
			display: block;
		}
	}

	&__cont {
		text-align: center;

		@include screen-xs() {
			text-align: right;
			margin: 0 25px 0 0;
		}

		@include screen-sm() {
			margin: 0;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		position: relative;

		@include screen-xs() {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__col {
		font-size: 1.1rem;

		&_upper {

			@include screen-xs() {
				margin-top: -1em;
			}

			@include screen-md() {
				margin-top: 7px;
			}
		}
	}

	&__lang {
		position: absolute;
		right: 0;
		top: 0;

		@include screen-sm() {
			position: fixed;
			right: 15px;
			top: 1.5em;
		}

		@include screen-lg() {
			position: absolute;
			right: -50px;
			top: 0;
		}
	}
}