.aside.aside_hidden
	ul.aside__list
		li.aside__item
			a.aside__link(href="#")
				.simple-list.aside__simple-list
					.simple-list__num.aside__num 1.
					.simple-list__descr.aside__descr Аренда склада
		li.aside__item
			a.aside__link(href="#")
				.simple-list.aside__simple-list
					.simple-list__num.aside__num 2.
					.simple-list__descr.aside__descr Продажа склада
		li.aside__item
			a.aside__link(href="#")
				.simple-list.aside__simple-list
					.simple-list__num.aside__num 3.
					.simple-list__descr.aside__descr Ответственное хранение
		li.aside__item
			a.aside__link(href="#")
				.simple-list.aside__simple-list
					.simple-list__num.aside__num 4.
					.simple-list__descr.aside__descr Индустриальные парки
		li.aside__item
			a.aside__link(href="#")
				.simple-list.aside__simple-list
					.simple-list__num.aside__num 5.
					.simple-list__descr.aside__descr Built_to_Suit
		li.aside__item
			a.aside__link(href="#")
				.simple-list.aside__simple-list
					.simple-list__num.aside__num 6.
					.simple-list__descr.aside__descr Земельные участки

.toggle.toggle_fixed
	.toggle__lines
		span.toggle__line
		span.toggle__line
		span.toggle__line
	p.toggle__title.toggle__title_hidden Меню