.aside.aside_hidden
	ul.aside__list
		li.aside__item
			a.aside__link(href="#")
				.simple-list
					.simple-list__num.aside__num 1.
					.simple-list__descr.aside__descr Аренда
						.separ.separ_none_xs
						="склада"
		li.aside__item
			a.aside__link(href="#")
				.simple-list
					.simple-list__num.aside__num 2.
					.simple-list__descr.aside__descr Продажа
						.separ.separ_none_xs
						="склада"
		li.aside__item
			a.aside__link(href="#")
				.simple-list
					.simple-list__num.aside__num 3.
					.simple-list__descr.aside__descr Ответственное
						.separ.separ_none_xs
						="хранение"
		li.aside__item
			a.aside__link(href="#")
				.simple-list
					.simple-list__num.aside__num 4.
					.simple-list__descr.aside__descr Индустриальные
						.separ.separ_none_xs
						="парки"
		li.aside__item
			a.aside__link(href="#")
				.simple-list
					.simple-list__num.aside__num 5.
					.simple-list__descr.aside__descr Персональный
						.separ.separ_none_xs
						="подбор"
		li.aside__item
			a.aside__link(href="#")
				.simple-list
					.simple-list__num.aside__num 6.
					.simple-list__descr.aside__descr Условия
						.separ.separ_none_xs
						="сотрудничества"

.toggle.toggle_fixed
	.toggle__lines
		span.toggle__line
		span.toggle__line
		span.toggle__line
	p.toggle__title.toggle__title_hidden Меню