// FOOTER
footer.footer
	.container
		a.logo.footer__logo(href="/")
			img.logo__img(src="img/logo.png" srcset="img/logo@2x.png 2x" alt="Knight Frank")

		.row
			.col-sm-10
				ul.menu
					li.menu__item
						a.menu__link(href="#") О компании
					li.menu__item
						a.menu__link(href="#") Недвижимость
					li.menu__item
						a.menu__link(href="#") Земельные участки
					li.menu__item
						a.menu__link(href="#") Отправить заявку
					li.menu__item
						a.menu__link(href="#") Контакты

				.row
					.col-sm-4
						form
							input(type="text" placeholder="Имя")
							input(type="text" placeholder="Объект недвижимости")
							input(type="text" placeholder="Подробности")
							.row
								.col-sm-9
									input(type="text" placeholder="Телефон")
								.col-sm-3
									input(type="submit" value="Заказать")
					.col-sm-8
						.row
							.col-sm-6
								.simple-list
									.simple-list__num 1.
									.simple-list__descr Аренда склада
							.col-sm-6
								.simple-list
									.simple-list__num 2.
									.simple-list__descr Продажа склада
						.row
							.col-sm-6
								.simple-list
									.simple-list__num 3.
									.simple-list__descr Ответственное хранение
							.col-sm-6
								.simple-list
									.simple-list__num 4.
									.simple-list__descr Индустриальные парки

				.cont
					p.cont__addr ул. Маяковского, 3Б
					a.cont__phone(href="tel:78123632222") +7 812 363 2222

			.col-sm-2
				//TODO Социальные иконки

		.copyright
			p.copyright__descr
				a.copyright__link(href="#") Глобальная политика конфиденциальности
			p.copyright__descr Copyright © Knight Frank 2016
			p.copyright__descr Разработано в
				a.copyright__webcenter(href="webcenter.pro" target="_blank") webcenter.pro