// FOOTER
footer.footer
	.container
		a.logo.footer__logo(href="/")
			img.logo__img(src="img/logo.png" srcset="img/logo@2x.png 2x" alt="Knight Frank")

		.row.footer__flex
			.col-xs-10.footer__col
				ul.menu.footer__menu
					li.menu__item
						a.menu__link(href="#") О компании
					li.menu__item
						a.menu__link(href="#") Недвижимость
					li.menu__item
						a.menu__link(href="#") Земельные участки
					li.menu__item
						a.menu__link(href="#") Отправить заявку
					li.menu__item
						a.menu__link(href="#") Контакты

				.row
					.col-xs-4.footer__col-half
						form.form.footer__form
							p.form__descr Заказать обратный звонок
							input.input.form__input(type="text" placeholder="Имя")
							input.input.form__input(type="text" placeholder="Объект недвижимости")
							textarea.input.form__input(rows="4" placeholder="Подробности")
							.row
								.col-xs-8.form__separ
									input.input.form__input(type="text" placeholder="Телефон")
								.col-xs-4.form__separ
									input.button.form__button(type="submit" value="Заказать")
					.col-xs-7.col-xs-offset-1.footer__col
						.row
							.col-xs-6.footer__xxs
								a.simple-list(href="#")
									.simple-list__num 1.
									.simple-list__descr Аренда склада
							.col-xs-6.footer__xxs
								a.simple-list(href="#")
									.simple-list__num 2.
									.simple-list__descr Продажа склада
						.row
							.col-xs-6.footer__xxs
								a.simple-list(href="#")
									.simple-list__num 3.
									.simple-list__descr Ответственное хранение
							.col-xs-6.footer__xxs
								a.simple-list(href="#")
									.simple-list__num 4.
									.simple-list__descr Индустриальные парки

				.cont.footer__cont
					p.cont__addr ул. Маяковского, 3Б
					a.cont__phone(href="tel:78123632222") +7 812 363 2222

			.col-xs-2.footer__col
				.footer__social
					a.soc.soc__fb.footer__soc-item(href="#" target="_blank")
						i.fa.fa-facebook.soc__img(aria-hidden="true")
					a.soc.soc__in.footer__soc-item(href="#" target="_blank")
						i.fa.fa-linkedin.soc__img(aria-hidden="true")
					a.soc.soc__tw.footer__soc-item(href="#" target="_blank")
						i.fa.fa-twitter.soc__img(aria-hidden="true")
					a.soc.soc__you.footer__soc-item(href="#" target="_blank")
						i.fa.fa-youtube-play.soc__img(aria-hidden="true")
					a.soc.soc__inst.footer__soc-item(href="#" target="_blank")
						i.fa.fa-instagram.soc__img(aria-hidden="true")

		.copyright.footer__copyright
			p.copyright__descr
				a.copyright__link(href="#") Глобальная политика конфиденциальности
			p.copyright__descr Copyright © Knight Frank 2016
			p.copyright__descr Разработано в
				=" "
				a.copyright__link.copyright__webcenter(href="http://webcenter.pro/" target="_blank") webcenter.pro