.modal.fade.sign
	.modal-dialog.sign__wrap
		.sign__header
			.sign__close(data-dismiss="modal")
			p.sign__descr Оставить заявку
		.sign__body
			form.form.sign__form
				input.input.input_light.form__input(type="text" placeholder="Имя")
				input.input.input_light.form__input(type="text" placeholder="Компания")
				input.input.input_light.form__input(type="tel" placeholder="Телефон")
				input.input.input_light.form__input(type="email" placeholder="Почта")
				textarea.input.input_light.form__input(rows="5" placeholder="Сообщение")
				input.button.button_lg.button_wide(type="submit" value="Оставить заявку")