doctype html
html(lang="ru")
	head
		include partials/head
		title Сравнения | Knight Frank Warehouse
	body
		include partials/aside
		include partials/header

		main.main
			section.section.section_space
				.container
					h1.h2.h2_line Сравнение объектов
					.compare.section__compare
						table.compare__titles
							tr
								td Название
								td
									a(href="#") Gorigo
									button.compare__close
								td
									a(href="#") Адастра
									button.compare__close
								td
									a(href="#") А Плюс Парк
									button.compare__close
								td
									a(href="#") АКМ Логистик
									button.compare__close
								td
									a(href="#") Адастра
									button.compare__close
							tr
								td Этажность
								td 1
								td 1
								td 1
								td 1
								td 1
							tr
								td Сетка колонн
								td 12 Х 24
								td 12 Х 24
								td 12 Х 24
								td 12 Х 24
								td 12 Х 24
							tr
								td Нагрузка на пол
								td 6 т./кв. м.
								td 6 т./кв. м.
								td 6 т./кв. м.
								td 6 т./кв. м.
								td 6 т./кв. м.
							tr
								td Уровень пола
								td 1.2 м.
								td 1.2 м.
								td 1.2 м.
								td 1.2 м.
								td 1.2 м.
							tr
								td Количество доков
								td 1 на 700 кв. м.
								td 1 на 700 кв. м.
								td 1 на 700 кв. м.
								td 1 на 700 кв. м.
								td 1 на 700 кв. м.
							tr
								td Температурный режим
								td 12-24 С°
								td 12-24 С°
								td 12-24 С°
								td 12-24 С°
								td 12-24 С°
							tr
								td Направление
								td Юг
								td Юг
								td Юг
								td Юг
								td Юг
							tr
								td Безопасность
								td Собственная служба
								td Собственная служба
								td Собственная служба
								td Собственная служба
								td Собственная служба
							tr
								td Координаты на карте
								td 50.0234, 50.3425
								td 50.0234, 50.3425
								td 50.0234, 50.3425
								td 50.0234, 50.3425
								td 50.0234, 50.3425
							tr
								td Расстояние от КАД
								td 10 км.
								td 10 км.
								td 10 км.
								td 10 км.
								td 10 км.
							tr
								td Расстояние от ЗСД
								td 5 км.
								td 5 км.
								td 5 км.
								td 5 км.
								td 5 км.
							tr
								td Станция метро
								td Старая деревня
								td Старая деревня
								td Старая деревня
								td Старая деревня
								td Старая деревня
							tr
								td Расстояние до порта
								td 8 км.
								td 8 км.
								td 8 км.
								td 8 км.
								td 8 км.
							tr
								td Расстояние до аэропорта
								td 12 км.
								td 12 км.
								td 12 км.
								td 12 км.
								td 12 км.
							tr
								td Ж/Д ветка
								td Нет
								td Нет
								td Нет
								td Нет
								td Нет

						.compare__i
							table.compare__origin
								tr
									td Название
									td
										a(href="#") Gorigo
										button.compare__close
									td
										a(href="#") Адастра
										button.compare__close
									td
										a(href="#") А Плюс Парк
										button.compare__close
									td
										a(href="#") АКМ Логистик
										button.compare__close
									td
										a(href="#") Адастра
										button.compare__close
								tr
									td Этажность
									td 1
									td 1
									td 1
									td 1
									td 1
								tr
									td Сетка колонн
									td 12 Х 24
									td 12 Х 24
									td 12 Х 24
									td 12 Х 24
									td 12 Х 24
								tr
									td Нагрузка на пол
									td 6 т./кв. м.
									td 6 т./кв. м.
									td 6 т./кв. м.
									td 6 т./кв. м.
									td 6 т./кв. м.
								tr
									td Уровень пола
									td 1.2 м.
									td 1.2 м.
									td 1.2 м.
									td 1.2 м.
									td 1.2 м.
								tr
									td Количество доков
									td 1 на 700 кв. м.
									td 1 на 700 кв. м.
									td 1 на 700 кв. м.
									td 1 на 700 кв. м.
									td 1 на 700 кв. м.
								tr
									td Температурный режим
									td 12-24 С°
									td 12-24 С°
									td 12-24 С°
									td 12-24 С°
									td 12-24 С°
								tr
									td Направление
									td Юг
									td Юг
									td Юг
									td Юг
									td Юг
								tr
									td Безопасность
									td Собственная служба
									td Собственная служба
									td Собственная служба
									td Собственная служба
									td Собственная служба
								tr
									td Координаты на карте
									td 50.0234, 50.3425
									td 50.0234, 50.3425
									td 50.0234, 50.3425
									td 50.0234, 50.3425
									td 50.0234, 50.3425
								tr
									td Расстояние от КАД
									td 10 км.
									td 10 км.
									td 10 км.
									td 10 км.
									td 10 км.
								tr
									td Расстояние от ЗСД
									td 5 км.
									td 5 км.
									td 5 км.
									td 5 км.
									td 5 км.
								tr
									td Станция метро
									td Старая деревня
									td Старая деревня
									td Старая деревня
									td Старая деревня
									td Старая деревня
								tr
									td Расстояние до порта
									td 8 км.
									td 8 км.
									td 8 км.
									td 8 км.
									td 8 км.
								tr
									td Расстояние до аэропорта
									td 12 км.
									td 12 км.
									td 12 км.
									td 12 км.
									td 12 км.
								tr
									td Ж/Д ветка
									td Нет
									td Нет
									td Нет
									td Нет
									td Нет

		include partials/footer
		// END OF VISIBLE CONTENT
		include partials/modal