doctype html
html(lang="ru")
	head
		include partials/head
		title Контентная страница | Knight Frank Warehouse
	body
		include partials/aside
		include partials/header

		main.main
			section.section
				.news-logo
					.news-logo__item.news-logo__item_img_1
						.news-logo__content
							.container
								h1.news-logo__title Новый игрок на рынке складской недвижимости
								p.news-logo__date 01.01.2016
			section.section.section_pad.section_light
				.container.section__narrow
					article.text
						p НПК «Катрен» построил автоматизированный логистический комплекс, общий объем инвестиций в проект составил 1,2 млрд рублей, сообщил на церемонии запуска комплекса директор филиала компании Владимир Герус. – Логистичеcкий комплекс обслуживает 2 тысячи аптек и 10 миллионов граждан из шести регионов – Санкт-Петербург, Ленинградская, Калининградская, Новгородская, Псковская области и Карелия, – приводит РИА Новости пояснение Геруса.
						p По словам директора филиала, на складе осуществляется сборка заказов из российской интернет-аптеки
							=" "
							a(href="internet-apteka.ru") internet-apteka.ru
							|, количество наименований лекарств в которой в результате открытия комплекса возросло до 16 тыс. единиц. В логистическом комплексе создано 230 рабочих мест, их число к 2020 году вырастет до 450. – Сегодня произошло знаковое событие – открытие логистического комплекса в рамках фармацевтического кластера, который показывает рост, – сказал на церемонии губернатор Санкт-Петербурга Георгий Полтавченко.
						p Логистический комплекс компании «Катрен» общей площадью 10,5 тыс. кв. м расположен на участке площадью 1,5 га. Он объединяет под одной крышей складской комплекс и офисные площади.
						p Складской комплекс состоит из:
						ul
							li сухого склада,
							li зоны оптовой сборки,
							li зоны хранения с различными температурными режимами.
						p Генпроектировщиком и генеральным подрядчиком проекта стала компания «А плюс девелопмент»
			section.section.section_space
				.container
					.row
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title > 200
								p.stat__descr Предложений складов класса А
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title 40
								p.stat__descr Предложений для проведения тендеров
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title 625
								p.stat__descr Довольных клиентов
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title 125
								p.stat__descr Реализованных проектов

		include partials/footer
		// END OF VISIBLE CONTENT
		include partials/modal