doctype html
html(lang="ru")
	head
		include partials/head
		title Главная | Knight Frank Warehouse
	body
		include partials/header

		main.main
			section.section
				.owl.owl-carousel
					.owl__item.owl__item_img_1
						.owl__content
							.container
								h1.owl__title Почему клиенты выбирают Knight Frank для аренды склада класса А?
								.row
									.col-sm-6
										p.owl__descr Knight Frank занимает лидирующие позиции по продажам и аренде в сегменте склады и производственно-складские помещения
								.row
									.col-sm-2
										p.owl__sub-descr Самые интересные предложения
										input.button.button_wide(type="submit" value="Смотреть предложения")
					.owl__item.owl__item_img_2
						.owl__content
							.container
								h1.owl__title Широкий выбор земельных участков под строительство складских и индустриальных объектов
								input.button.button_wide(type="submit" value="Смотреть предложения")
					.owl__item.owl__item_img_3
						.owl__content
							.container
								h1.owl__title Свыше 40 предложений для проведения тендеров по выбору логистической компании
								input.button.button_wide(type="submit" value="Смотреть предложения")
		include partials/footer