doctype html
html(lang="ru")
	head
		include partials/head
		title Главная | Knight Frank Warehouse
	body
		include partials/header

		main.main
			section.section
				.owl.owl-carousel
					.owl__item.owl__item_img_1
						.owl__content
							.container
								h1.owl__title Почему клиенты выбирают Knight Frank для аренды склада класса А?
								.row
									.col-sm-6
										p.owl__descr Knight Frank занимает лидирующие позиции по продажам и аренде в сегменте склады и производственно-складские помещения
								.row
									.col-sm-2
										p.owl__sub-descr Самые интересные предложения
										input.button.button_lg(type="submit" value="Смотреть предложения")
					.owl__item.owl__item_img_2
						.owl__content
							.container
								h2.owl__title Широкий выбор земельных участков под строительство складских и индустриальных объектов
								input.button.button_lg(type="submit" value="Смотреть предложения")
					.owl__item.owl__item_img_3
						.owl__content
							.container
								h2.owl__title Свыше 40 предложений для проведения тендеров по выбору логистической компании
								input.button.button_lg(type="submit" value="Смотреть предложения")

			section.section
				.half
					.container.half__wrap
						p.num 01
					.half__side.half__side_img_1
					.half__side.half__side_line
						h2.h2.h2_line Более
							=" "
							span.h2__important 500000 м
								sup 2
							=" общая площадь реализуемых объектов"

			section.section
				.half
					.half__side
						h3.h3.half__h3 О компании
						p.half__descr Наши сильные стороны
						p.half__descr Услуги для арендаторов и инвесторов
						p.half__descr Услуги для арендодателей и собственников
						p.half__descr Рынок складской недвижимости
						p.half__descr Аналитика
						input.button.button_lg(type="submit" value="Подробнее")
					.half__side.half__side_gray
						.quote
						h3.half__title Позитивным является наблюдаемый нами рост запросов среди производителей разного типа
						p.half__author Михаил Тюнин
						p.half__post Руководитель направления складской недвижимости, Санкт-Петербург

			section.section
				.owl.owl-carousel
					.owl__item.owl__item_img_4
						.owl__content
							.container
								p.num.owl__num 02
								h1.owl__title Складская и индустриальная недвижимость
								.row
									.col-sm-2
										p.owl__sub-descr Самые интересные предложения
										input.button.button_lg(type="submit" value="Смотреть предложения")
					.owl__item.owl__item_img_4
						.owl__content
							.container
								p.num.owl__num 02
								h1.owl__title Складская и индустриальная недвижимость
								.row
									.col-sm-2
										p.owl__sub-descr Самые интересные предложения
										input.button.button_lg(type="submit" value="Смотреть предложения")
					.owl__item.owl__item_img_4
						.owl__content
							.container
								p.num.owl__num 02
								h1.owl__title Складская и индустриальная недвижимость
								.row
									.col-sm-2
										p.owl__sub-descr Самые интересные предложения
										input.button.button_lg(type="submit" value="Смотреть предложения")

			section.section.section_space
				.container
					.row.section__flex
						.offer.section__flex-item
							a.offer__link(href="#")
								.simple-list.offer__title
									.simple-list__num 1.
									.simple-list__descr Аренда склада
								.offer__img.offer__img_1
								p.offer__descr Компания Knight Frank специализируется на аренде складов класса А и A+ и альтернативных складских помещений в Ленинградской области и на территории России и стран СНГ.
						.offer.section__flex-item
							a.offer__link(href="#")
								.simple-list.offer__title
									.simple-list__num 2.
									.simple-list__descr Продажа склада
								.offer__img.offer__img_2
								p.offer__descr Knight Frank осуществляет успешную деятельность на рынке недвижимости в складском и индустриальном сегментах. Компания лидирует по объему реализованных складских площадей.
						.offer.section__flex-item
							a.offer__link(href="#")
								.simple-list.offer__title
									.simple-list__num 3.
									.simple-list__descr Ответственное хранение
								.offer__img.offer__img_3
								p.offer__descr Knight Frank предоставляет своим клиентам комплексную услугу по подбору логистических операторов, обеспечивающих ответственное хранение товаров. Всегда актуальная база складов ответственного хранения.
						.offer.section__flex-item
							a.offer__link(href="#")
								.simple-list.offer__title
									.simple-list__num 4.
									.simple-list__descr Индустриальные парки
								.offer__img.offer__img_4
								p.offer__descr Knight Frank единственная среди компаний консультантов по недвижимости является активным членом Ассоциации индустриальных парков России и официальным партнером многих индустриальных парков

					.section__center
						input.button.button_lg(type="submit" value="Смотреть предложения")



		include partials/footer