doctype html
html(lang="ru")
	head
		include partials/head
		title Property | Knight Frank Warehouse
	body
		include partials/aside
		include partials/header

		main.main
			section.section
				.owl.owl-carousel
					.owl__item.owl__item_img_1
						.owl__content
							.container
								h2.owl__title Почему клиенты выбирают Knight Frank для аренды склада класса А?
								.row
									.col-md-8.col-lg-6
										p.owl__descr Knight Frank занимает лидирующие позиции по продажам и аренде в сегменте склады и производственно-складские помещения
								.row
									.col-md-3
										p.owl__sub-descr Самые интересные предложения
										a.button.button_lg(href="#") Смотреть предложения
					.owl__item.owl__item_img_2
						.owl__content
							.container
								h2.owl__title Широкий выбор земельных участков под строительство складских и индустриальных объектов
								a.button.button_lg(href="#") Смотреть предложения
					.owl__item.owl__item_img_3
						.owl__content
							.container
								h2.owl__title Свыше 40 предложений для проведения тендеров по выбору логистической компании
								a.button.button_lg(href="#") Смотреть предложения
			
			section.section.section_space
				.object.container
					h1.h2.h2_line складской комплекс «акм логистик 2»
					h2.object__address поселок шушары, первая линия московского шоссе
					.row
						.section__xxs.col-xs-6.col-sm-6.object__col
							h3.h3.object__h3 описание объекта
							.object__wrap
								p.object__desc.object__desc_half Класс объекта
								p.object__val.object__val_half А
							.object__wrap
								p.object__desc.object__desc_half Тип объекта
								p.object__val.object__val_half производственно-складской
							.object__wrap
								p.object__desc.object__desc_half Тип Склада
								p.object__val.object__val_half морозильный
							.object__wrap
								p.object__desc.object__desc_half район
								p.object__val.object__val_half промзона шушары
							.object__wrap
								p.object__desc.object__desc_half общая площадь объекта
								p.object__val.object__val_half 12 000 кв. м.
							.object__wrap
								p.object__desc.object__desc_half площадь земельного участка
								p.object__val.object__val_half 12 000 кв. м.
							.object__wrap
								p.object__desc.object__desc_half количество корпусов
								p.object__val.object__val_half 10
							.object__wrap
								p.object__desc.object__desc_half год ввода в эксплуатацию
								p.object__val.object__val_half 2015
							a.button.button_lg.object__btn(href="#") Скачать презентацию

						.section__xxs.col-xs-6.col-sm-5.col-sm-offset-1.object__col
							h3.h3.object__h3 коммерческие условия
							.object__wrap
								p.object__desc.object__desc_inline Тип сделки
								p.object__val.object__val_inline Аренда
							.object__wrap
								p.object__desc ставка аренды за склад
								p.object__price 800 р/кв. м. в месяц
							.object__wrap
								p.object__desc ставка аренды за офис
								p.object__price.object__price_line 1500 р/кв. м. в месяц
							.object__wrap
								p.object__desc в ставку включено:
								p.object__val операционные расходы, ндс
							.object__wrap
								p.object__desc в ставку не включено:
								p.object__val коммунальные расходы

					.row
						.col-xs-12.object__col
							h3.h3.object__h3 парковка
							.object__wrap
								p.object__desc аренда парковочного места
								p.object__price.object__price_img_1 5 000 р/место
								p.object__price.object__price_img_2 7 000 р/место
								a.button.button_lg.object__btn(href="#") оставить заявку

			section.section
				.owl.owl-carousel
					.owl__item.owl__item_img_1
						.owl__content
							.container
								h2.owl__title складской комплекс «акм логистик 2»
								.row
									.col-md-8.col-lg-6
										p.owl__descr поселок шушары, первая линия московского шоссе
								.row
									.col-md-12
										h3.h2.h2_white 1000 - 25 000 М2
										a.button.button_lg(href="#") Посмотреть план
					.owl__item.owl__item_img_2
						.owl__content
							.container
								h2.owl__title Широкий выбор земельных участков под строительство складских и индустриальных объектов
								a.button.button_lg(href="#") Смотреть предложения
					.owl__item.owl__item_img_3
						.owl__content
							.container
								h2.owl__title Свыше 40 предложений для проведения тендеров по выбору логистической компании
								a.button.button_lg(href="#") Смотреть предложения

			section.section
				.half

					.half__side
						h3.h3.half__h3 Транспортная доступность
						p.half__descr.half__descr_half Координаты на карте
						p.half__descr.half__descr_half.half__descr_red 50.0234, 50.3425
						p.half__descr.half__descr_half Расстояние от КАД
						p.half__descr.half__descr_half.half__descr_red 10 км
						p.half__descr.half__descr_half Расстояние до ЗСД
						p.half__descr.half__descr_half.half__descr_red 5 км
						p.half__descr.half__descr_half Станция метро
						p.half__descr.half__descr_half.half__descr_red Звёздная, Московская
						p.half__descr.half__descr_half Расстояние до порта
						p.half__descr.half__descr_half.half__descr_red 8 км
						p.half__descr.half__descr_half Расстояние до аэропорта
						p.half__descr.half__descr_half.half__descr_red 12 км
						p.half__descr.half__descr_half Отопление
						p.half__descr.half__descr_half.half__descr_red Есть
						p.half__descr.half__descr_half Ж/Д ветка
						p.half__descr.half__descr_half.half__descr_red Есть
						a.button.button_lg(href="#") Скачать презентацию

					.half__side.half__side_gray
						h3.h3.half__h3 Характеристики объекта
						p.half__descr.half__descr_half Этажность
						p.half__descr.half__descr_half 1
						p.half__descr.half__descr_half Сетка колонн
						p.half__descr.half__descr_half 12 Х 24
						p.half__descr.half__descr_half Нагрузка на пол
						p.half__descr.half__descr_half 6 Т./кв.м.
						p.half__descr.half__descr_half Уровень пола
						p.half__descr.half__descr_half 1.2 м
						p.half__descr.half__descr_half Количество доков
						p.half__descr.half__descr_half 1 на 700 кв. м.
						p.half__descr.half__descr_half Температурный режим
						p.half__descr.half__descr_half 12-24 С°
						p.half__descr.half__descr_half Направление
						p.half__descr.half__descr_half Юг
						p.half__descr.half__descr_half Безопасность
						p.half__descr.half__descr_half Собственная служба
						a.button.button_lg(href="#") Подробнее

			section.section.section_pad.section_red
				.container
					h2.h2.h2_white Основные преимущества
					.advant.section__advant
						.advant__img.advant__img_1
						p.advant__desc Парковка для грузового транспорта
					.advant.section__advant
						.advant__img.advant__img_2
						p.advant__desc Доступность общественного транспорта
					.advant.section__advant
						.advant__img.advant__img_3
						p.advant__desc Спринклерная система пожаротушения
					.advant.section__advant
						.advant__img.advant__img_4
						p.advant__desc Офисные помещения с отделкой
					.advant.section__advant
						.advant__img.advant__img_5
						p.advant__desc Современные стеллажные системы
					.advant.section__advant
						.advant__img.advant__img_6
						p.advant__desc Высокая энерговооруженность
					.advant.section__advant
						.advant__img.advant__img_7
						p.advant__desc Точка общественного питания
					.advant.section__advant
						.advant__img.advant__img_8
						p.advant__desc Близость к станции метро
			section.section.section_space
				.container.plan
					h3.h3 Планировки склада

					.row.plan__row
						.col-xs-12

					.row.plan__row
						.col-sm-5
							h3.h3.plan__title Вакантные площади
							.vacant
								.vacant__row
									h4.vacant__title Свободная площадь
									h4.vacant__title Арендная ставка
								a.vacant__row(href="#")
									span.vacant__cell 5200 м
										sup 2
									span.vacant__cell 950 р/м
										sup 2
								a.vacant__row(href="#")
									span.vacant__cell 8900 м
										sup 2
									span.vacant__cell 950 р/м
										sup 2
								a.vacant__row.vacant__row_active(href="#")
									span.vacant__cell 4500 м
										sup 2
									span.vacant__cell 800 р/м
										sup 2
								a.vacant__row(href="#")
									span.vacant__cell 7500 м
										sup 2
									span.vacant__cell 1200 р/м
										sup 2
								a.vacant__row(href="#")
									span.vacant__cell 1500 м
										sup 2
									span.vacant__cell 2500 р/м
										sup 2

						.col-sm-6.col-sm-offset-1
							img.plan__img(src="img/plan.jpg" alt="Plan")

					a.button.button_lg(href="#") Скачать планировку

			section.section.section_pad.section_light
				.container.desc
					h3.h3.desc__title Описание объекта

					.row
						.col-xs-6.col-md-5.desc__col
							.colorless
								a.colorless__text.colorless__text_full(href="#")
									.colorless__text-img.colorless__text-img_img_1
									.colorless__i
										h4.colorless__title Gorigo
										p.colorless__subtitle Логистический комплекс
										p.colorless__address Россия, Санкт-Петербург Горелово, Волхонское шоссе
										p.colorless__class Класс
										p.colorless__letter А
										p.colorless__more Узнать больше
						.col-xs-6.col-md-7.desc__col
							p.desc__text Расположен в элитном коттеджном поселке "Золотые Пески" на первой линии финского залива. Прямо с участка выход на песчаный пляж залива. Инженерная инфраструктура включает в себя: электроснабжение, централизованное водоснабжение из артезианских скважин, магистральное газоснабжение. Управляющей компанией осуществляется охрана территории, вывоз мусора, содержание (чистка) дорог, обслуживание водомерного узла, обслуживание электросетей, освещение территории поселка. Собственность! Земли населенных пунктов. Для ведения дачного хозяйства.

					a.button.button_lg.desc__btn(href="#") В избранное
					a.button.button_lg.button_dark.desc__btn(href="#") В сравнение
					a.button.button_lg.button_dark.desc__btn(href="#") Презентация
			section.section
				.map
					.map__cont#map2
					h2.h2.h2_line.map__title Объект на карте
					a.button.button_lg.map__button(href="#") Поиск по параметрам

			section.section.section_space
				.container
					h2.h2.h2_line Похожие объекты

				.container-fluid
					.row.section__simple-flex-xxs

						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_1
								.colorless__i
									h4.colorless__title Gorigo
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Горелово, Волхонское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_3
								.colorless__i
									h4.colorless__title АКМ Логистик 2
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_6
								.colorless__i
									h4.colorless__title Адастра
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Колтушское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_8
								.colorless__i
									h4.colorless__title А Плюс Парк
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Шушары, Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше

				.container
					input.button.button_lg.section__space-top(type="button" value="Показать ещё")

			section.section.section_space
				.container
					h2.h2.h2_line Объекты поблизости

				.container-fluid
					.row.section__simple-flex-xxs

						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_1
								.colorless__i
									h4.colorless__title Gorigo
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Горелово, Волхонское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_3
								.colorless__i
									h4.colorless__title АКМ Логистик 2
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_6
								.colorless__i
									h4.colorless__title Адастра
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Колтушское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_8
								.colorless__i
									h4.colorless__title А Плюс Парк
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Шушары, Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше

				.container
					input.button.button_lg.section__space-top(type="button" value="Показать на карте")


			section.section
				.map
					.map__cont#map3
					h2.h2.h2_line.map__title Объекты поблизости
					a.button.button_lg.map__button(href="#") Поиск по параметрам

			section.section.section_space
				.container
					h2.h2.h2_line Не нашли подходящий объект?
					p.section__descr Вы можете
						br
						="оставить заявку"

			section.section
				.half.half_narrow
					.half__side.half__side_light
						h3.h2.h2_line Оставить заявку
						form.form
							input.input.input_light.form__input(type="text" placeholder="Имя" required)
							input.input.input_light.form__input(type="tel" placeholder="Телефон" required)
							textarea.input.input_light.form__input(rows="10" placeholder="Интересующий объект недвижимости")
							input.button.button_lg(type="submit" value="Отправить заявку")

					.half__side.half__side_gray
						.person
							.person__img.person__img_1
							h3.person__name Михаил Тюнин
							p.person__post Руководитель направления складской недвижимости, Санкт-Петербург
							p.person__tel +7 812 363 2222
			section.section.section_space
				.container
					.row
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title > 200
								p.stat__descr Предложений складов класса А
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title 40
								p.stat__descr Предложений для проведения тендеров
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title 625
								p.stat__descr Довольных клиентов
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title 125
								p.stat__descr Реализованных проектов


		include partials/footer