doctype html
html(lang="ru")
	head
		include partials/head
		title Страница земельного участка | Knight Frank Warehouse
	body
		include partials/aside
		include partials/header

		main.main
			section.section
				.owl.owl-carousel
					.owl__item.owl__item_img_1
						.owl__content
							.container
								h2.owl__title складской комплекс «акм логистик 2»
								.row
									.col-md-8.col-lg-6
										p.owl__descr поселок шушары, первая линия московского шоссе
								.row
									.col-md-12
										h3.h2.h2_white 1000 - 25 000 М2
										a.button.button_lg(href="#") Скачать планировку
					.owl__item.owl__item_img_1
						.owl__content
							.container
								h2.owl__title складской комплекс «акм логистик 2»
								.row
									.col-md-8.col-lg-6
										p.owl__descr поселок шушары, первая линия московского шоссе
								.row
									.col-md-12
										h3.h2.h2_white 1000 - 25 000 М2
										a.button.button_lg(href="#") Скачать планировку
					.owl__item.owl__item_img_1
						.owl__content
							.container
								h2.owl__title складской комплекс «акм логистик 2»
								.row
									.col-md-8.col-lg-6
										p.owl__descr поселок шушары, первая линия московского шоссе
								.row
									.col-md-12
										h3.h2.h2_white 1000 - 25 000 М2
										a.button.button_lg(href="#") Скачать планировку
			
			section.section.section_space
				.object.container
					h1.h2.h2_line Земельный участок для промышленно-логистической застройки
					h2.object__address Первая линия Московского шоссе
					.row
						.section__xxs.col-xs-6.col-sm-6.object__col
							h3.h3.object__h3 описание объекта
							.object__wrap
								p.object__desc.object__desc_half Площадь участка
								p.object__val.object__val_half 5000 кв. м.
							.object__wrap
								p.object__desc.object__desc_half Тип объекта
								p.object__val.object__val_half Земельный участок
							.object__wrap
								p.object__desc.object__desc_half Назначение объекта
								p.object__val.object__val_half Земли промышленности
							.object__wrap
								p.object__desc.object__desc_half Район
								p.object__val.object__val_half Курортный
							.object__wrap
								p.object__desc.object__desc_half Направление
								p.object__val.object__val_half Север
							.object__wrap
								p.object__desc.object__desc_half Юридический статус
								p.object__val.object__val_half Собственность
							.object__wrap
								p.object__desc.object__desc_half Наличие коммуникаций
								p.object__val.object__val_half Газ, вода, электричество
							a.button.button_lg.object__btn(href="#") Скачать презентацию

						.section__xxs.col-xs-6.col-sm-5.col-sm-offset-1.object__col
							h3.h3.object__h3 коммерческие условия
							.object__wrap
								p.object__desc.object__desc_inline Тип сделки
								p.object__val.object__val_inline Аренда
							.object__wrap
								p.object__desc Цена продажи
								p.object__price 1200 руб. за 1 кв. м.
								p.object__val НДС не облагается
							.object__wrap
								p.object__desc Возможность получения рассрочки
								p.object__val До 2-х лет
								a.button.button_lg.object__btn(href="#" data-toggle="modal" data-target=".sign") Оставить заявку

			section.section
				.owl.owl-carousel
					.owl__item.owl__item_img_1
						.owl__content
							.container
								h2.owl__title Почему клиенты выбирают Knight Frank для аренды склада класса А?
								.row
									.col-md-8.col-lg-6
										p.owl__descr Knight Frank занимает лидирующие позиции по продажам и аренде в сегменте склады и производственно-складские помещения
								.row
									.col-md-3
										p.owl__sub-descr Самые интересные предложения
										a.button.button_lg(href="#") Смотреть предложения
					.owl__item.owl__item_img_2
						.owl__content
							.container
								h2.owl__title Широкий выбор земельных участков под строительство складских и индустриальных объектов
								a.button.button_lg(href="#") Смотреть предложения
					.owl__item.owl__item_img_3
						.owl__content
							.container
								h2.owl__title Свыше 40 предложений для проведения тендеров по выбору логистической компании
								a.button.button_lg(href="#") Смотреть предложения

			section.section
				.half

					.half__side
						h3.h3.half__h3 Транспортная доступность
						p.half__descr.half__descr_half Координаты на карте
						p.half__descr.half__descr_half.half__descr_red 50.0234, 50.3425
						p.half__descr.half__descr_half Расстояние от КАД
						p.half__descr.half__descr_half.half__descr_red 10 км
						p.half__descr.half__descr_half Расстояние до ЗСД
						p.half__descr.half__descr_half.half__descr_red 5 км
						p.half__descr.half__descr_half Станция метро
						p.half__descr.half__descr_half.half__descr_red Звёздная, Московская
						p.half__descr.half__descr_half Расстояние до порта
						p.half__descr.half__descr_half.half__descr_red 8 км
						p.half__descr.half__descr_half Расстояние до аэропорта
						p.half__descr.half__descr_half.half__descr_red 12 км
						p.half__descr.half__descr_half Ж/Д ветка
						p.half__descr.half__descr_half.half__descr_red Есть
						a.button.button_lg(href="#") Посмотреть на карте

					.half__side.half__side_gray
						h3.h3.half__h3 Характеристики объекта
						h4.h3.half__h3.half__h3_line_none Категория земель
						p.half__descr.half__descr_line Земли сельскохозяйственного назначения
						h4.h3.half__h3.half__h3_line_none Разрешённое использование
						p.half__descr.half__descr_line Земельные участки производственных объединений, концернов, промышленно-производственных фирм, трестов.
						h4.h3.half__h3.half__h3_line_none Зона согласно генплану

			section.section.section_pad.section_light
				.container.desc
					.desc__col
						h3.h3.desc__title Описание объекта
						p.desc__text Расположен в элитном коттеджном поселке "Золотые Пески" на первой линии финского залива. Прямо с участка выход на песчаный пляж залива. Инженерная инфраструктура включает в себя: электроснабжение, централизованное водоснабжение из артезианских скважин, магистральное газоснабжение. Управляющей компанией осуществляется охрана территории, вывоз мусора, содержание (чистка) дорог, обслуживание водомерного узла, обслуживание электросетей, освещение территории поселка. Собственность! Земли населенных пунктов. Для ведения дачного хозяйства.

					.desc__col
						a.button.button_lg.desc__btn(href="#" data-toggle="modal" data-target=".sign") Заказать звонок

					a.button.button_lg.button_dark.desc__btn(href="#") В избранное
					a.button.button_lg.button_dark.desc__btn(href="#") В сравнение
					a.button.button_lg.button_dark.desc__btn(href="#") Презентация
			section.section
				.map
					.map__cont#map1
					.container.map__inner
						h2.h2.h2_line.map__title Объект на карте
						a.button.button_lg.map__button(href="#") Поиск по параметрам

			section.section.section_space
				.container
					h2.h2.h2_line Похожие объекты

				.container-fluid
					.row.section__simple-flex-xxs

						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_1
								.colorless__i
									h4.colorless__title Gorigo
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Горелово, Волхонское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_3
								.colorless__i
									h4.colorless__title АКМ Логистик 2
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_6
								.colorless__i
									h4.colorless__title Адастра
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Колтушское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_8
								.colorless__i
									h4.colorless__title А Плюс Парк
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Шушары, Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше

				.container
					input.button.button_lg.section__space-top(type="button" value="Показать ещё")

			section.section.section_space
				.container
					h2.h2.h2_line Объекты поблизости

				.container-fluid
					.row.section__simple-flex-xxs

						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_1
								.colorless__i
									h4.colorless__title Gorigo
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Горелово, Волхонское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_3
								.colorless__i
									h4.colorless__title АКМ Логистик 2
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_6
								.colorless__i
									h4.colorless__title Адастра
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Колтушское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_8
								.colorless__i
									h4.colorless__title А Плюс Парк
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Шушары, Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше

				.container
					input.button.button_lg.section__space-top(type="button" value="Показать на карте")


			section.section
				.map
					.map__cont#map2
					.container.map__inner
						h2.h2.h2_line.map__title Объекты поблизости
						a.button.button_lg.map__button(href="#") Поиск по параметрам

			section.section.section_space
				.container
					h2.h2.h2_line Не нашли подходящий объект?
					p.section__descr Вы можете
						br
						="оставить заявку"

			section.section
				.half.half_narrow
					.half__side.half__side_light
						h3.h2.h2_line Оставить заявку
						form.form
							input.input.input_light.form__input(type="text" placeholder="Имя" required)
							input.input.input_light.form__input(type="text" placeholder="Компания" required)
							input.input.input_light.form__input(type="tel" placeholder="Телефон" required)
							input.input.input_light.form__input(type="email" placeholder="Почта" required)
							textarea.input.input_light.form__input(rows="5" placeholder="Сообщение")
							input.button.button_lg(type="submit" value="Отправить заявку")

					.half__side.half__side_gray
						.person
							.person__img.person__img_1
							h3.person__name Михаил Тюнин
							p.person__post Руководитель направления складской недвижимости, Санкт-Петербург
							p.person__tel +7 812 363 2222
			section.section.section_space
				.container
					.row
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title > 200
								p.stat__descr Предложений складов класса А
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title 40
								p.stat__descr Предложений для проведения тендеров
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title 625
								p.stat__descr Довольных клиентов
						.col-xs-6.col-sm-3.section__stat
							.stat
								p.stat__title 125
								p.stat__descr Реализованных проектов



		include partials/footer
		// END OF VISIBLE CONTENT
		include partials/modal