doctype html
html(lang="ru")
	head
		include partials/head
		title Страница фильтров | Knight Frank Warehouse
	body
		include partials/aside
		include partials/header

		main.main
			section.section_gray.section_pad
				.container.section_space-bot
					h3.h3.h3_bright.h3_space_bot Характеристики объекта
					.row.rating
						.col-md-6
							p.section__text.section__text_bright.section__text_space_bot Максимальная контактность в переговорах
						.col-md-6
							.progress.line.section__line
								.progress-bar.line__bar(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%")
									span.line__num 40%
					.row.rating
						.col-md-6
							p.section__text.section__text_bright.section__text_space_bot Соответствие объекта заявленному классу
						.col-md-6
							.progress.line.section__line
								.progress-bar.line__bar(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%")
									span.line__num 40%
					.row.rating
						.col-md-6
							p.section__text.section__text_bright.section__text_space_bot Готовность инвестировать в дополнительные улучшения
						.col-md-6
							.progress.line.section__line
								.progress-bar.line__bar(role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%")
									span.line__num 20%
					.row.rating
						.col-md-6
							p.section__text.section__text_bright.section__text_space_bot Условия контракта/ дополнительные соглашения
						.col-md-6
							.progress.line.section__line
								.progress-bar.line__bar(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%")
									span.line__num 60%
					.row.rating
						.col-md-6
							p.section__text.section__text_bright.section__text_space_bot Отзывы арендаторов
						.col-md-6
							.progress.line.section__line
								.progress-bar.line__bar(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%")
									span.line__num 80%
					.row.rating
						.col-md-6
							p.section__text.section__text_bright.section__text_space_bot профессионализм управляющей компании
						.col-md-6
							.progress.line.section__line
								.progress-bar.line__bar(role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%")
									span.line__num 80%


				.container
					a.button.button_lg(href="#plan") Оставить заявку
		include partials/footer
		// END OF VISIBLE CONTENT
		include partials/modal