doctype html
html(lang="ru")
	head
		include partials/head
		title Избранное | Knight Frank Warehouse
	body
		include partials/aside
		include partials/header

		main.main
			section.section.section_space
				.container
					h1.h2.h2_line Избранные объекты
					p.section__descr У вас в избранном
						br
						="8 объектов"

			section.section
				.container-fluid
					.row.section__simple-flex-xxs

						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_1
								.colorless__i
									h4.colorless__title Gorigo
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Горелово, Волхонское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_3
								.colorless__i
									h4.colorless__title АКМ Логистик 2
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_6
								.colorless__i
									h4.colorless__title Адастра
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Колтушское шоссе
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_8
								.colorless__i
									h4.colorless__title А Плюс Парк
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Шушары, Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_8
								.colorless__i
									h4.colorless__title А Плюс Парк
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Шушары, Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_8
								.colorless__i
									h4.colorless__title А Плюс Парк
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Шушары, Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_8
								.colorless__i
									h4.colorless__title А Плюс Парк
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Шушары, Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше
						.col-xs-6.col-sm-3.section__xxs.colorless
							a.colorless__text.colorless__text_full(href="#")
								.colorless__text-img.colorless__text-img_img_8
								.colorless__i
									h4.colorless__title А Плюс Парк
									p.colorless__subtitle Логистический комплекс
									p.colorless__address Россия, Санкт-Петербург Шушары, Московское шоссе, 4 км
									p.colorless__class Класс
									p.colorless__letter А
									p.colorless__more Узнать больше

		include partials/footer
		// END OF VISIBLE CONTENT
		include partials/modal