.map {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 150%;
	overflow: hidden;

	@include screen-xxs() {
		padding-bottom: 100%;
	}

	@include screen-xs() {
		padding-bottom: 75%;
	}

	@include screen-sm() {
		padding-bottom: 60%;
	}

	@include screen-md() {
		padding-bottom: 45%;
	}

	&__cont {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__inner {
		position: absolute;
		left: 0;
		right: 0;
		height: 100%;
		pointer-events: none;

		@include screen-sm() {
			left: 50%;
			right: initial;
			transform: translateX(-50%);
		}
	}

	&__title {
		position: absolute;
		top: 55px;
		left: 15px;
		text-shadow: 1px 1px 1px white;
		pointer-events: none;

		@include screen-sm() {
			top: 5%;
		}

		@include screen-sm() {
			top: 10%;
		}
	}

	&__button {
		position: absolute;
		bottom: 7%;
		left: 15px;
		pointer-events: auto;
	}
}

.gm-style-iw {
	top: 15px !important;
	left: 50% !important;
	transform: translateX(-50%);
	text-align: center;
}

.gmb_close {
	background: url('../img/closeX_red.png') no-repeat;
	height: 32px;
	width: 32px;
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 1;
	cursor: pointer;
	transition: $duration ease;

	&:hover {
		background-image: url('../img/closeX_red_hover.png');
	}
}

.gm-style-mtc {

	&:first-child {
		border-right: 1px solid darken($color-main, 10%);
	}

	&:last-child {
		border-left: 1px solid darken($color-main, 10%);
	}

	div {
		text-transform: uppercase;
		border: none;
		margin: 0;
		color: white !important;
		background-color: $color-main !important;
		box-shadow: none !important;
		font-weight: 800 !important;
		padding: 10px 20px !important;
		font-size: 1.4rem !important;
		border-radius: 0 !important;
		transition: $duration / 2 ease all;

		@include screen-sm() {
			font-size: 1.2rem !important;
		}

		&:hover,
		&:focus {
			background-color: darken($color-main, 10%) !important;
		}

		&:active {
			background-color: darken($color-main, 20%) !important;
			color: darken(white, 20%) !important;
		}
	}
}