.select {
	outline: none;
	padding: 6px 2.5em 6px 10px;
	background-color: $color-lighter;
	text-transform: uppercase;
	font-weight: 600;
	color: $color-dark;
	border: none;

	&__current {
		outline: none;
		padding: 5px 2.5em 5px 10px;
		margin: 0;
		transition: $duration ease;
		background-color: $color-lighter;
		text-transform: uppercase;
		font-weight: 600;

		&::after {
			content: '';
			position: absolute;
			right: .5em;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-top-color: $color-dark;
			border-bottom: none;
			transition: $duration ease;
		}

		&:hover,
		&:focus {
			background-color: lighten($color-light, 20%);
		}

		&_active {
			background-color: $color-main;

			&::after {
				transform: translateX(-50%) translateY(-50%) rotate(180deg);
				border-top-color: white;
			}

			&:hover,
			&:focus {
				background-color: $color-main;
			}

			.select__text {
				color: white;
			}
		}

		&.ui-button {
			width: auto;
		}
	}

	&__text {
		margin: 0;
		line-height: 1.42857143;
		color: $color-dark;
		transition: $duration ease;
	}

	&__list {
		background-color: $color-lighter;
		z-index: 1;
		border: 0;
		color: $color-dark;
		font-weight: 600;
		font-size: 1.6rem;
		font-family: $font-main;
		text-transform: uppercase;

		.ui-menu {
			list-style-type: none;
			padding: 0;
			margin: 0;
			border: 1px solid $color-light;
			border-top: none;
		}

		.ui-menu-item-wrapper {
			padding: 5px 10px;
			transition: $duration / 2 ease;
			cursor: pointer;

			&.ui-state-active {
				background-color: $color-light;
				color: white;
			}
		}
	}

	&_space {
		margin: 2em 0;
	}
}