@font-face {
	font-family: 'fontawesome';
	src: url($path + 'fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
	src: url($path + 'fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
	url($path + 'fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
	url($path + 'fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
	url($path + 'fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
	url($path + 'fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url($path + 'fonts/bootstrap/glyphicons-halflings-regular.eot');
	src: url($path + 'fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url($path + 'fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'),
	url($path + 'fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
	url($path + 'fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
	url($path + 'fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
	font-family: "GothamPro";
	src: url($path + "fonts/gothampro/GothamProRegular/GothamProRegular.eot");
	src: url($path + "fonts/gothampro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url($path + "fonts/gothampro/GothamProRegular/GothamProRegular.woff") format("woff"),
	url($path + "fonts/gothampro/GothamProRegular/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GothamPro";
	src: url($path + "fonts/gothampro/GothamProMedium/GothamProMedium.eot");
	src: url($path + "fonts/gothampro/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
	url($path + "fonts/gothampro/GothamProMedium/GothamProMedium.woff") format("woff"),
	url($path + "fonts/gothampro/GothamProMedium/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "GothamPro";
	src: url($path + "fonts/gothampro/GothamProBold/GothamProBold.eot");
	src: url($path + "fonts/gothampro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url($path + "fonts/gothampro/GothamProBold/GothamProBold.woff") format("woff"),
	url($path + "fonts/gothampro/GothamProBold/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}