$color-main:      #de0041;
$color-lighter:   #ececec;
$color-light:     #969696;
$color-gray:      #868786;
$color-dark:      #565655;
$color-darker:    #323232;
$color-webcenter: #e96259;

$point-xxxs: 500px;
$point-xxs: 675px;
$point-xs:  850px;
$point-sm:  1028px;
$point-md:  1252px;
$point-lg:  1460px;

$font-main: 'GothamPro', 'Arial', sans-serif;

$duration: .3s;

$path: '../';

$top-height: 7.5em;

%clear {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

@mixin screen-xxxs($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-xxxs} - 1', 'min-width: #{$point-xxxs}')) {
		@content;
	}
}
@mixin screen-xxs($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-xxs} - 1', 'min-width: #{$point-xxs}')) {
		@content;
	}
}
@mixin screen-xs($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-xs} - 1', 'min-width: #{$point-xs}')) {
		@content;
	}
}
@mixin screen-sm($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-sm} - 1', 'min-width: #{$point-sm}')) {
		@content;
	}
}
@mixin screen-md($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-md} - 1', 'min-width: #{$point-md}')) {
		@content;
	}
}
@mixin screen-lg($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-lg} - 1', 'min-width: #{$point-lg}')) {
		@content;
	}
}

// Подключение изображений для ретины
@mixin bgi-retina($file, $type: 'png', $width: 100%, $height: $width) {
	background-image: url($file + '.' + $type);

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 144dpi) {
		background-image: url($file + '@2x.' + $type);

		@if $width == cover or $width == contain {
			$height: null;
		}

		background-size: $width $height;
	}
}