.aside {
	position: fixed;
	top: 0;
	height: 100%;
	background-color: $color-dark;
	z-index: 5;
	transition: $duration ease;
	width: 80%;
	padding-top: 0;

	@include screen-xs() {
		width: 200px;
	}

	@include screen-lg() {
		width: 300px;
		padding-top: $top-height;
	}

	&__list {
		display: block;
		list-style-type: none;
		padding: 0;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__item {

		&:first-child {

			.aside {

				&__link {
					border-top: 1px solid $color-darker;
				}
			}
		}

		&_last {
			position: absolute;
			bottom: 0;
			width: 100%;
			overflow: hidden;
		}
	}

	&__link {
		display: block;
		text-decoration: none;
		padding: 0 1.5em;
		white-space: nowrap;

		&:hover,
		&:focus {
			background-color: $color-darker;

			.aside {

				&__num,
				&__descr {
					color: $color-main;
				}
			}
		}
	}

	&__num {
		color: $color-light;
		transition: $duration ease;
		font-size: 3.8rem;

		@include screen-sm() {
			font-size: 3.8rem;
		}
	}

	&__descr {
		text-transform: uppercase;
		color: white;
		transition: $duration ease;
		font-size: 1.3rem;

		@include screen-sm() {
			font-size: 1.3rem;
		}
	}

	&_hidden {
		width: 0;

		@include screen-xs() {
			width: 0;
		}

		@include screen-lg() {
			width: 0;
		}
	}
}