.aside {
	position: fixed;
	top: 0;
	height: 100%;
	background-color: $color-dark;
	z-index: 15;
	transition: $duration ease;
	width: 80%;
	padding-top: $top-height;
	box-shadow: 0 0 5px $color-darker;

	@include screen-xs() {
		width: 200px;
	}

	@include screen-md() {
		width: 250px;
	}

	@include screen-lg() {
		width: 300px;
	}

	&__list {
		display: block;
		list-style-type: none;
		padding: 1em 0 0;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		border-top: 1px solid $color-darker;
	}

	&__item {

		&:first-child {

			.aside {

				&__link {
				}
			}
		}
	}

	&__link {
		display: block;
		text-decoration: none;
		padding: 0 1.5em;

		&:hover,
		&:focus {
			background-color: $color-darker;

			.aside {

				&__num,
				&__descr {
					color: $color-main;
				}
			}
		}
	}

	&__simple-list {

		@include screen-xs() {
			width: 1px;
		}
	}

	&__num {
		color: $color-light;
		transition: $duration ease;
		font-size: 3.8rem;

		@include screen-sm() {
			font-size: 3.8rem;
		}
	}

	&__descr {
		text-transform: uppercase;
		color: white;
		transition: $duration ease;
		font-size: 1.3rem;
		white-space: nowrap;

		@include screen-xs() {
			white-space: normal;
		}

		@include screen-sm() {
			font-size: 1.3rem;
		}

		&_nowrap {

			@include screen-xs() {
				white-space: nowrap;
			}
		}
	}

	&_hidden {
		width: 0;

		@include screen-xs() {
			width: 0;
		}

		@include screen-md() {
			width: 0;
		}

		@include screen-lg() {
			width: 0;
		}
	}
}