.owl {
	position: relative;

	&__item {
		background: no-repeat 50% 50%;
		background-size: cover;
		position: relative;
		padding-bottom: 110%;

		@include screen-xs() {
			padding-bottom: 60%;
		}

		@include screen-sm() {
			padding-bottom: 50%;
		}

		@include screen-lg() {
			padding-bottom: 45%;
		}

		&::before {
			@extend %fog;
		}

		&_img_1 {
			background-image: url($path + 'img/slide-1.jpg');
		}

		&_img_2 {
			background-image: url($path + 'img/slide-2.jpg');
		}

		&_img_3 {
			background-image: url($path + 'img/slide-3.jpg');
		}

		&_img_4 {
			background-image: url($path + 'img/slide-4.jpg');
		}

		&_img_5 {
			background-image: url($path + 'img/colorless-5.jpg');
		}
	}

	&__content {
		position: absolute;
		left: 0;
		right: 0;
		top: 2em;
		bottom: 0;

		@include screen-sm() {
			top: 5em;
		}
	}

	&__title,
	&__descr,
	&__sub-descr {
		font-weight: 800;
		text-transform: uppercase;
		color: white;
	}

	&__title {
		font-size: 2.5rem;
		line-height: 1.2em;
		margin: 0 0 .5em 0;

		@include screen-xs() {
			font-size: 4rem;
		}

		@include screen-sm() {
			font-size: 5rem;
		}

		@include screen-md() {
			font-size: 5.5rem;
		}

		@include screen-lg() {
			font-size: 6.3rem;
		}

		&::after {
			@extend %line;
		}
	}

	&__descr {
		font-size: 1.4rem;
		line-height: 1.7em;
		margin-bottom: 1.5em;

		@include screen-xs() {
			font-size: 1.8rem;
		}
	}

	&__sub-descr {
		font-size: 1.3rem;
		line-height: 1.6em;
		margin-bottom: 1.5em;
	}

	&__num {
		margin-bottom: .3em;
	}

	&__dots {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		bottom: 4%;
		pointer-events: none;
	}

	&__dot {
		width: 4em;
		height: 5px;
		margin-right: 15px;
		background-color: white;
		background-clip: content-box;
		box-sizing: content-box;
		display: inline-block;
		cursor: pointer;
		transition: $duration ease;
		padding: 1em 0;
		pointer-events: auto;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			background-color: $color-main;
		}
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 0;
		bottom: 0;
		opacity: .6;
		transition: $duration ease;
		background-size: contain;
		background: no-repeat 50% 50%;
		overflow: hidden;
		width: 12%;
		display: none;
		padding: 0 15px;
		box-sizing: content-box;

		@include screen-sm() {
			display: block;
		}

		&:hover,
		&:focus {
			opacity: 1;
			background-color: rgba(0, 0, 0, .2);
		}
	}

	.owl-prev {
		left: 0;
		max-width: 53px;
		@include bgi-retina('../img/prev', 'png', 53px, 129px);
	}

	.owl-next {
		right: 0;
		max-width: 94px;
		@include bgi-retina('../img/next', 'png', 94px, 129px);
	}
}