.compare {
	outline: none;
	overflow: auto;

	&__close {
		display: inline-block;
		background-color: transparent;
		border: none;
		outline: none;

		&::after {
			content: 'X';
			color: $color-dark;
			transition: $duration / 2 ease;
		}

		&:hover {

			&::after {
				color: $color-main;
			}
		}
	}

	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 5px;
		margin-top: 50px;
	}

	td {
		background-color: $color-lighter;
		color: $color-dark;
		text-transform: uppercase;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 5px 15px;
		margin-bottom: 5px;
		vertical-align: top;
		min-width: 250px;

		&:first-child {
			background-color: $color-dark;
			color: white;
		}
	}

	a {
		color: $color-main;
		border-bottom: 1px solid transparent;

		&:hover,
		&:focus {
			color: $color-dark;
			border-bottom: 1px solid $color-dark;
		}
	}

	// Стилизация ползунка

	.jspHorizontalBar {
		background-color: transparent;
		top: 0;
	}

	.jspTrack {
		height: 2px;
		margin-top: 7px;
		background-color: $color-lighter;
	}

	.jspDrag {
		height: 17px;
		margin-top: -7px;
		background-color: $color-lighter;
		transition: $duration / 2 ease background;

		&:hover {
			background-color: darken($color-lighter, 10%);;
		}

		&:active {
			background-color: $color-light;
		}
	}

	// ===================
}