.compare {
	outline: none;
	overflow: auto;
	position: relative;

	&__close {
		display: inline-block;
		background-color: transparent;
		border: none;
		outline: none;

		&::after {
			content: 'X';
			color: $color-dark;
			transition: $duration / 2 ease;
		}

		&:hover {

			&::after {
				color: $color-main;
			}
		}
	}

	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 5px;
		margin-top: 50px;
	}

	td {
		background-color: $color-lighter;
		color: $color-dark;
		text-transform: uppercase;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 5px 15px;
		margin-bottom: 5px;
		vertical-align: top;
		min-width: 250px;

		&:first-child {
			background-color: $color-dark;
			color: white;
		}
	}

	a {
		color: $color-main;
		border-bottom: 1px solid transparent;

		&:hover,
		&:focus {
			color: $color-dark;
			border-bottom: 1px solid $color-dark;
		}
	}

	// Стилизация ползунка
	.ps-scrollbar-x-rail {
		background-color: $color-lighter !important;
		opacity: 1 !important;
		height: 2px;
		top: 7px;

		&:hover {

			.ps-scrollbar-x {
				height: 17px;
			}
		}
	}

	.ps-scrollbar-x {
		height: 17px !important;
		background-color: $color-lighter !important;
		top: -7px;
		border-radius: 0 !important;

		&:hover {
			background-color: darken($color-lighter, 10%) !important;
		}

		&:active {
			background-color: $color-light !important;
		}
	}
	// ===================
}